Repository antlr/antlr4-lab, pull requests merged in 2022-11, with the labels that each got.

#50 Baseline version of share API.
  pom.xml
  src/org/antlr/v4/server/ANTLRHttpServer.java
  src/org/antlr/v4/server/persistent/PersistentLayer.java
  src/org/antlr/v4/server/persistent/cloudstorage/CloudStoragePersistentLayer.java
  src/org/antlr/v4/server/unique/DummyUniqueKeyGenerator.java
  src/org/antlr/v4/server/unique/UniqueKeyGenerator.java
Labels: enhancement, server

#57 Use javax.json to serialize the JSON content
  src/org/antlr/v4/server/ANTLRHttpServer.java
  src/org/antlr/v4/server/CollectGrammarErrorsAndWarnings.java
  src/org/antlr/v4/server/CollectLexOrParseSyntaxErrors.java
  src/org/antlr/v4/server/GrammarProcessor.java
  src/org/antlr/v4/server/JsonSerializer.java
Labels: enhancement, JSON serialization

#59 Use Gson to serialize the JSON content
  pom.xml
  src/org/antlr/v4/server/ANTLRHttpServer.java
  src/org/antlr/v4/server/CollectGrammarErrorsAndWarnings.java
  src/org/antlr/v4/server/CollectLexOrParseSyntaxErrors.java
  src/org/antlr/v4/server/GrammarProcessor.java
  src/org/antlr/v4/server/JsonSerializer.java
Labels: JSON serialization
